# Python cache
__pycache__/
*.py[cod]
*$py.class

# Virtual env
myvenv/
env/
.venv/

# Django stuff
*.log
media/
staticfiles/

# Environment variables
.env

# IDE / OS files
.vscode/
.idea/
.DS_Store

# Test / type hints cache
.pytest_cache/
.mypy_cache/
.coverage
*.pyc


*.bak
*.dat
*.dir
plan.md

pip-wheel-metadata/
build/ 
dist/
*.egg-info/
.python-version
local_settings.py
.cache/